{% if filename %} 
<div class = "show_images_section" > 
  
    <div> <img src ="{{ filename }}"width = "200" height = "200" id = "imageWithFilter" > </div>
    {% endif %}

    {% if age %} < div > <p> {{age}} < /p>
    </div >{% endif %}

    {% if dominant_emotion %} <div> <p> {{dominant_emotion}} </p>
    </div >{% endif %}

    {% if dominant_race %} <div> <p> {{dominant_race}} </p>
    </div >{% endif %}

    {% if gender %} <div> <p> {{gender}} </p>
    </div >
    {% endif %}
    <div class=" buttons"> 
        <button class="btn" id="tweetBtn2"> Tweet </button>
        <button class="btn" onclick = "window.location.href='http://localhost:5000/';" > Go Back </button>
    </div>
</div> 

<script src="../static/front-end/libraries/jquery/jquery.js"></script>
<link rel = "stylesheet" href = "../static/css/show_image.css" > <script src="../static/js/tool.js"> </script>
<script src="../static/js/brush.js"></script>
<script src = "../static/js/eraser.js"> </script> <script src = "../static/js/pencil.js" > </script> 
<script src = "../static/front-end/libraries/p5/p5.js" > </script> 
<script src = "../static/front-end/libraries/p5/addons/p5.sound.js" > </script> 
<script src = "../static/front-end/libraries/axios/dist/axios.min.js" > </script> 
<script src = "../static/front-end/libraries/dom-to-image/src/dom-to-image.js" > </script> 
<script src = "../static/front-end/main.js" > </script>
